/* Applied Throughout Page */
* {
  box-sizing: border-box; 
  font-family: 'Lato', sans-serif;
  margin: 0; 
  padding: 0; 
}

body {
  background-color: #E2E9F1; 
  height: 100vh; 
  width: 100vw; 
}

.fas:hover {
  color: #026FEB; 
}

/* Header */
header {
  background-color: #40434A; 
  height: 100px; 
  padding: 20px; 
}

.page-title {
  color: white; 
  font-size: 3rem; 
  font-weight: 600; 
}

/* Color Card Section */
.generated-palette-container {
  display: flex; 
  justify-content: center; 
  align-content: space-around; 
  margin: 100px 0 100px 0; 
}

.color-card {
  background-color: #C4C4C4; 
  border-radius: 0 15px 0 15px; 
  margin-right: 35px;
}

.window {
  border-radius: 0 15px 0 15px; 
  height: 300px; 
  width: 300px; 
}

/* Default Window Colors */
.color-window-one {
  background-color: #3A353F; 
}

.color-window-two {
  background-color: #252B4B; 
}

.color-window-two {
  background-color: #252B4B; 
}

.color-window-three {
  background-color: #397DC0; 
}

.color-window-four {
  background-color: #85ABC9; 
}

.color-window-five {
  background-color: #5F74DF; 
}

/* Color Card Information and Lock Icon Container  */
.color-information {
  display: flex;
  justify-content: space-around; 
  padding: 10px;  
}

.hex-value {
  font-size: 2rem; 
}

.lock-icon {
  font-size: 2rem;
  cursor: pointer; 
}

/* Buttons */
button {
  padding: 8px; 
  margin: 0 0 30px 50px;
  height: 80px;  
  width: 225px;
  border-radius: 15px;  
  font-size: 1.75rem; 
  font-weight: 600; 
  cursor: pointer;
  background-color: #C4C4C4; 
}

button:hover {
  background-color: #026FEB; 
  color: #ffffff; 
}

.generate-icon {
  margin-left: 5px; 
}

/* Inputs */
input {
  margin: 5px 0 0 10px; 
  height: 70px; 
  width: 300px;
  font-size: 2rem; 
  font-weight: 400;  
}

input::placeholder {
  text-indent: 8px; 
}

/* Select */
select {
  width: 235px; 
  height: 70px; 
  font-size: 2rem; 
  font-weight: 600; 
  background-color: #C4C4C4; 
}

/* Saved Projects and Palettes */
.project-container {
  width: 70%; 
  margin: 0 auto;  
}

.project-header {
  background-color: #C4C4C4;  
}

.saved-project-title {
  font-size: 2rem; 
  font-weight: 600; 
  margin-top: 8px; 
}

.saved-palette-container {
  background-color: #40434A; 
  height: 300px; 
  display: flex;
  flex-direction: column; 
  padding: 20px; 
  
}

.name-delete-container {
  display: flex; 
  margin-bottom: 15px; 
}

.saved-palette-name {
  font-size: 1.5rem; 
  font-weight: 600; 
  color: #ffffff; 
  margin-top: 10px; 

}

.delete-palette {
  font-size: 1.5rem; 
  color: #ffffff; 
  margin: 15px 0 0 10px;
  cursor: pointer; 
}

.block-container {
  display: flex;
  flex-direction: column; 
}

.block {
  height: 30px; 
  width: 220px; 
}

.color-block-one {
  background-color: #2FB19F; 
}

.color-block-two {
  background-color: #6B5458; 
}

.color-block-three {
  background-color: #A1B7B3; 
}

.color-block-four {
  background-color: #397DC0; 
}

.color-block-five {
  background-color: #85ABC9; 
}


